#searchcategory {
  margin-left: 36em;
  margin-right: 35em;
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
  height: 8em;
}

#searchcategoryForm {
  background-color: white;
  border-radius: 0.3em;
}

#searchcategoryButton {
  margin-left: 1.3em;
  margin-right: 0.1em;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
