#searchcategory {
	// margin-left: 36em;
	// margin-right: 35em;
	// margin-top: 1em;
	// margin-bottom: 1em;
	// display: block;
	// height: 8em;
}

#searchcategoryForm {
	background-color: white;
	width: 13em;
	border-radius: 0.3em;
	margin-bottom: 1em;
}

#searchcategoryButton {
	margin: 1em 0.5em 1em 0.5em;
}

#customButton {
	margin: 1em 0.5em 1em 0.5em;
}
