#headerText {
   margin: 50px;
   color: white;
   text-align: center;
   padding: 35px;
}

h1 {
    color: white;
    font-size: 4em;
}

title {
    text-size-adjust: 200px;
}

.startPicking {
    margin-top: 1em;
    margin-left: 17em;
    margin-right: 15em;
    margin-bottom: 5em;
    text-align: center;
    //margin-bottom: 20em;
    //background-color: yellow;
}
